.placeorder-form{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;
  padding-right: 50px ;
}

.placeorder-form-left{
  width: 100%;
  max-width: max(30%,500px);
}
.placeorder-form-left p{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.placeorder-form-left input{
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}

 .placeorder-form-left .multi-feild{
  display: flex;
  gap: 10px;
 }

 .placeorder-form-right{
  width: 100%;
  max-width: max(40%, 500px);
 }

 .placeorder .cart-total button{
  margin-top: 30px;
 }