.footer {
  margin-top: 100px;
  color: #d9d9d9;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
  padding-top: 80px;
}

.footer-content {
  width: 100%;                         /* full width */
  max-width: 1200px;                   /* keep it centered and not too wide */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;  /* left side is bigger */
  gap: 40px;                           /* space between columns */
  margin-bottom: 30px;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* left-align text */
  gap: 15px;
  cursor: pointer;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-right h2,
.footer-content-center h2 {
  color: white;
}

.footer-soical-icon img {
  width: 40px;
  margin-right: 15px;
}


.footer hr{
  width: 90%;
  height: 2px;
  margin: 20px 0px;
  background-color: gray;
  border: none;
}
@media (max-width: 1050px) {
   .footer-content{
    display: flex;
    flex-direction: column;
    gap: 35px;
   }
  .footer-copyright{
    text-align: center;
  }
}
